hr{
        width: 30px;
}

hr:hover{
        transition: all .5s ease;
        width: 100px;
}

/*
div: hover{
        background-color: red;
}

div p:hover{
        background-color: #fff;
}

*/
/*
div:hover {
        background: #eab0ff;
      }

div p:hover {
        background: #fff;
      }

section:hover {
        background: #eab0ff;
}
section p:hover {
        background: #fff;
}*/

